- var need_charset = false;
- glyphs.forEach(function(g) { if (0xffff < g.code) { need_charset = true; } })
- if (need_charset)
  | @charset "UTF-8";
  != '\n'
  |

- //TODO use same css as google-fonts / material icons does
- var rnd = Math.floor(Math.random()*100000000);
| @font-face {
|   font-family: '#{font.fontname}';
|   src: url('../font/#{font.fontname}.eot?#{rnd}');
|   src: url('../font/#{font.fontname}.eot?#{rnd}#iefix') format('embedded-opentype'),
|        url('../font/#{font.fontname}.woff2?#{rnd}') format('woff2'),
|        url('../font/#{font.fontname}.woff?#{rnd}') format('woff'),
|        url('../font/#{font.fontname}.ttf?#{rnd}') format('truetype'),
|        url('../font/#{font.fontname}.svg?#{rnd}##{font.fontname}') format('svg');
|   font-weight: normal;
|   font-style: normal;
| }
| 
| .#{font.fontname}{
|   font-family: "#{font.fontname}";
|   font-style: normal;
|   font-weight: normal;
|   speak: none;
|   position: relative;
|   color: #777;
|   font-size: #{cfg.default_size}px;
| 
|   display: inline-block;
|   text-decoration: none;
|   width: 1em;
|   line-height: 1em;
|   text-align: center;
|   font-variant: normal;
|   text-transform: none;
|
|   /* Font smoothing. That was taken from TWBS */
|   -webkit-font-smoothing: antialiased;
|   -moz-osx-font-smoothing: grayscale;
| }
| .#{font.fontname}::after { top: 0; left: 0; position: absolute; color: #ff7400;}