doctype html
html
  head
    meta(charset='UTF-8')

    != '<style>'
    - var boxWidth = Math.max(cfg.preview_size+20, 90)
    :stylus
      body
        font-family "Open Sans", sans-serif
        margin 60px
        color #555

      pre
        overflow-x scroll
        height 400px

      .copyright
         font-size 10px
         margin-top 20px

      .icon
        border solid 1px #eee
        margin 3px
        padding 10px
        display inline-block
        text-align center
        div
          font-size 10px
    | .icon{ width:#{boxWidth}px; }
    | i.#{font.fontname}{font-size: #{cfg.preview_size}px; }
    | i.x2.#{font.fontname}{font-size: #{cfg.preview_size*2}px; }
    != '</style>'

    | <link rel="stylesheet" href="css/#{font.fontname}-base.css">
    | <link rel="stylesheet" href="css/#{font.fontname}-codes.css">

  body
    .container
      header
        h1 [#{font.fullname.toUpperCase()}]

      - var i, g, css_class, code
      - function pad(s) { return s.length === 3 ? '0' + s : s; }
      - for (i in glyphs)
        - g = glyphs[i]
        - if( g.isLayer2 ) continue

        - css_class = meta.css_use_suffix ? g.css + meta.css_prefix_text : meta.css_prefix_text + g.css
        - code = pad(g.code.toString(16))
        .icon
          i(class=font.fontname class=css_class)
          i.x2(class=font.fontname class=css_class)
          -//.css_name .#{font.fontname}.#{css_class}
          -//.char_code 0x#{code}
          .css_name #{css_class}
      div.copyright #{cfg.copyright}
      - //pre #{JSON.stringify(cfg, null, 2)}
